*
  box-sizing: border-box
body
  background: #F4F4F4

#navbar
  .top
    background-color: #093a7a
    font-size: 12px
    .brand
      display: table
      height: 50px
      .logo-container
        display: table-cell
        vertical-align: middle
        img
          max-height: 38px
    .options
      height: 50px
      display: table
      font-size: 10px
      white-space: nowrap
      ul
        display: table-cell
        vertical-align: middle
        text-align: right
        color: white
        list-style-type: none
        li
          text-align: center
          display: inline-block
          border-left: 1px solid white
          padding: 0 16px 0 16px
          a
            color: white
          a:hover
            color: #ccc
            text-decoration: none
        li:first-child
          border-style: none

  .bottom
    border-top: 1px solid #ccc
    text-align: center
    background-color: #31608f
    font-size: 10px
    font-weight: bold
    ul
      color: white
      list-style-type: none
      margin: 0
      li
        display: inline-block
        padding: 8px 10px 8px 10px
        a
          color: white
          text-decoration: none
      li:hover
        background-color: #093a7a

#hotel-results
  p
    margin: 0
  #location
    font-size: 8px
    padding: 7px 0 7px 0
  #search-terms
    border: 1px solid #ccc
    padding: 7px
    font-size: 12
    ul
      display: table-cell
      list-style-type: none
      padding: 0
      li
        display: inline-block
        margin: 0 10px 0 10px
        font-size: 10px
        a
          text-decoration: none
      li:first-child
        margin-left: 0px
